# SPDX-License-Identifier: GPL-2.0-only
menuconfig POWER_SUPPLY
	bool "Power supply class support"
	help
	  Say Y here to enable power supply class support. This allows
	  power supply (batteries, AC, USB) monitoring by userspace
	  via sysfs and uevent (if available) and/or APM kernel interface
	  (if selected below).

if POWER_SUPPLY

config CHARGER_BQ25700
	tristate "TI BQ25700 battery charger driver"
	depends on REGMAP_I2C
	help
	  Say Y to enable support for the TI BQ25700 battery charger.

config BATTERY_CW2017
	tristate "CW2017 Battery driver"
	depends on I2C
	select REGMAP_I2C
	help
	  Say Y here to enable support for the cellwise cw2017
	  battery fuel gauge (used in the Pinebook Pro & others)

	  This driver can also be built as a module. If so, the module will be
	  called cw2017_battery.
	  
config BATTERY_RK817
	tristate "RK817 Battery driver"
	depends on MFD_RK808
	help
	  If you say yes here you will get support for the battery of RK817 PMIC.
	  This driver can give support for Rk817 Battery Interface.

config CHARGER_RK817
	tristate "RK817 Charger driver"
	depends on MFD_RK808
	help
	  If you say yes here you will get support for the charger of RK817 PMIC.
	  This driver can give support for Rk817 Charger Interface.

endif # POWER_SUPPLY
