# SPDX-License-Identifier: GPL-2.0-only
#
# RF switch subsystem configuration
#
config RFKILL_RK
	tristate "Rockchip RFKILL driver"
	depends on RFKILL
	depends on MMC
	depends on ARCH_ROCKCHIP
	default y
	help
	  Rockchip rfkill driver for rk29/rk3X
