# SPDX-License-Identifier: GPL-2.0-only
#
# Multimedia Video device configuration
#

if VIDEO_V4L2

menu "RK3588 i2c Camear"
config VIDEO_OV13855
	tristate "OmniVision OV13855 sensor support"
	depends on I2C && VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	select V4L2_FWNODE
	help
	  This is a Video4Linux2 sensor driver for the OmniVision
	  OV13855 camera.

config VIDEO_DW9763
        tristate "DW9763 lens voice coil support"
        depends on I2C && VIDEO_V4L2
        select MEDIA_CONTROLLER
        select VIDEO_V4L2_SUBDEV_API
        help
          This is a driver for the DW9763 camera lens voice coil.
          DW9763 is a 10 bit DAC with 120mA output current sink
          capability. This is designed for linear control of
          voice coil motors, controlled via I2C serial interface.

endmenu
endif # VIDEO_V4L2
